.quote-wrapper#quote
  %h4 Start protecting your legacy
  %p.second-form-message Provide us with some more info and we'll get back to you shortly with a personalized quote

  .forms-wrapper
    =render '/shared/form_1'
    =render '/shared/form_2'
    
