%label I live in
%input#name{:name => "name", :placeholder => "virginia", :tabindex => "-1", :type => "text"}/

%label I weigh
%input#name{:name => "name", :placeholder => "160lbs", :tabindex => "-1", :type => "text"}/

%label and I'm
%input#name{:name => "name", :placeholder => "single", :tabindex => "-1", :type => "text"}/

%label My name is
%input#name{:name => "name", :placeholder => "name", :tabindex => "-1", :type => "text"}/

%label phone number
%input#name{:name => "name", :placeholder => "555-555-5555", :tabindex => "-1", :type => "text"}/

%label kids, i have
%input#name{:name => "name", :placeholder => "10", :tabindex => "-1", :type => "text"}/

%label My income is between
%input#name{:name => "name", :placeholder => "0-0", :tabindex => "-1", :type => "text"}/

%label My overall health is
%input#name{:name => "name", :placeholder => "america", :tabindex => "-1", :type => "text"}/

%label I currently
%input#name{:name => "name", :placeholder => "do not", :tabindex => "-1", :type => "text"}/

%label have a policy. My email is
%input#name{:name => "name", :placeholder => "email@yours.com", :tabindex => "-1", :type => "text"}/

%span.button-prev{:tabindex => "-1"} Back
%input.button{:tabindex => "-1", :type => "submit", :value => "Submit"}/
