%label I weigh
%select{:tabindex => "-1", :name => "weightRange"}
  %option{:value => "0"} > 125
  %option{:value => "1"} 125-150
  %option{:value => "2", :selected => "selected"} 150-175
  %option{:value => "3"} 175-200
  %option{:value => "4"} 200-250
  %option{:value => "5"} 250-300
  %option{:value => "6"} 300+




%label lbs and I'm
%select{:tabindex => "-1", :name => "relationshipStatus"}
  %option{:value => "0"} single
  %option{:value => "1", :selected => "selected"} married
  %option{:value => "2"} divorced
%span.fake-period .
%br

%label My name is
%input{:name => "name", :placeholder => "name", :tabindex => "-1", :type => "text"}

%label I have
=select_tag "kids", options_for_select(0..14, 2), :tabindex => "1"
%label kids.
%br

%label My income is between
%select{:tabindex => "-1", :name => "incomeRange"}
  %option{:value => "0"} > 25k
  %option{:value => "1"} 25-50k
  %option{:value => "2", :selected => "selected"} 50-75k
  %option{:value => "3"} 75-100k
  %option{:value => "4"} 100-125k
  %option{:value => "5"} 125-200k
  %option{:value => "6"} 200k+
%span.fake-period .
%br

%span My overall health is
= field_set_tag do
  =radio_button_tag 'health', 'poor'
  =label_tag 'poor'
  =radio_button_tag 'health', 'decent'
  =label_tag 'decent'
  =radio_button_tag 'health', 'good', true
  =label_tag 'good'
  =radio_button_tag 'health', 'great'
  =label_tag 'great'
  =radio_button_tag 'health', 'excellent'
  =label_tag 'excellent'

%br
%label I currently
%select{:tabindex => "-1", :name => "policyStatus"}
  %option{:value => "0"} do
  %option{:value => "1", :selected => "selected"} don't

%label have a policy.
%br

%span.button-prev{:tabindex => "-1"} Back
%input.button{:tabindex => "-1", :type => "submit", :value => "Submit"}
