%label I weigh
%input{:name => "weight", :placeholder => "160lbs", :tabindex => "-1", :type => "text"}

%label and I'm
%input{:name => "relationshipStatus", :placeholder => "single", :tabindex => "-1", :type => "text"}

%label My name is
%input{:name => "name", :placeholder => "name", :tabindex => "-1", :type => "text"}

%label phone number
%input{:name => "telephone", :placeholder => "555-555-5555", :tabindex => "-1", :type => "text"}

%label kids, i have
%input{:name => "kids", :placeholder => "10", :tabindex => "-1", :type => "text"}

%label My income is between
%input{:name => "incomeRange", :placeholder => "0-0", :tabindex => "-1", :type => "text"}

%label My overall health is
%input{:name => "health", :placeholder => "america", :tabindex => "-1", :type => "text"}

%label I currently
%input{:name => "policyStatus", :placeholder => "do not", :tabindex => "-1", :type => "text"}

%label have a policy.

%span.button-prev{:tabindex => "-1"} Back
%input.button{:tabindex => "-1", :type => "submit", :value => "Submit"}
