=form_tag({:action => 'submit_contact_form'}, {:class => 'form-2'}) do
  =label_tag "name", "My name is"
  %input{:name => "name", :placeholder => "Sam Smith", :tabindex => "-1", :type => "text"}
  %br

  =label_tag "weight", "I weigh"
  %select{:tabindex => "-1", :name => "weightRange"}
    %option{:value => "0"} > 125
    %option{:value => "1", :selected => "selected"} 125-150
    %option{:value => "2"} 150-175
    %option{:value => "3"} 175-200
    %option{:value => "4"} 200-250
    %option{:value => "5"} 250-300
    %option{:value => "6"} 300+



  =label_tag "height", "lbs & I'm"
  %select{:tabindex => "-1", :name => "height"}
    %option{:value => "0"} 4'5"
    %option{:value => "1"} 4'6"
    %option{:value => "2"} 4'7"
    %option{:value => "3"} 4'8"
    %option{:value => "4"} 4'9"
    %option{:value => "5"} 4'10"
    %option{:value => "6"} 4'11"
    %option{:value => "7"} 5'0"
    %option{:value => "8"} 5'1"
    %option{:value => "9"} 5'2"
    %option{:value => "10"} 5'3"
    %option{:value => "11"} 5'4"
    %option{:value => "12"} 5'5"
    %option{:value => "13"} 5'6"
    %option{:value => "14"} 5'7"
    %option{:value => "15"} 5'8"
    %option{:value => "16", :selected => "selected"} 5'9"
    %option{:value => "17"} 5'10"
    %option{:value => "18"} 5'11"
    %option{:value => "19"} 6'0"
    %option{:value => "20"} 6'1"
    %option{:value => "21"} 6'2"
    %option{:value => "22"} 6'3"
    %option{:value => "23"} 6'4"
    %option{:value => "24"} 6'5"
    %option{:value => "25"} 6'6"
    %option{:value => "26"} 6'7"
    %option{:value => "27"} 6'8"
    %option{:value => "28"} 6'9"
    %option{:value => "29"} 6'10"
    %option{:value => "30"} 6'11"
    %option{:value => "31"} 7'0"

  %span tall.
  %br

  =label_tag "relationshipStatus", "I'm"
  %select{:tabindex => "-1", :name => "relationshipStatus"}
    %option{:value => "0"} single
    %option{:value => "1", :selected => "selected"} married
    %option{:value => "2"} divorced

  =label_tag "kids", "& have"
  =select_tag "kids", options_for_select(0..14, 2), :tabindex => "1"
  %span kids.
  %br

  =label_tag "incomeRange", "My income is"
  %select{:tabindex => "-1", :name => "incomeRange"}
    %option{:value => "0"} > 25k
    %option{:value => "1"} 25-50k
    %option{:value => "2", :selected => "selected"} 50-75k
    %option{:value => "3"} 75-100k
    %option{:value => "4"} 100-125k
    %option{:value => "5"} 125-200k
    %option{:value => "6"} 200k+
  %span.fake-period .
  %br

  %span My overall health is
  = field_set_tag do
    =radio_button_tag 'health', 'poor'
    =label_tag 'health_poor', 'poor'
    =radio_button_tag 'health', 'decent'
    =label_tag 'health_decent', 'decent'
    =radio_button_tag 'health', 'good', true
    =label_tag 'health_good', 'good'
    =radio_button_tag 'health', 'great'
    =label_tag 'health_great', 'great'
    =radio_button_tag 'health', 'excellent'
    =label_tag 'health_excellent', 'excellent'
  %span.health-title good

  %br
  =label_tag "policyStatus", "I currently"
  %select{:tabindex => "-1", :name => "policyStatus"}
    %option{:value => "0"} do
    %option{:value => "1", :selected => "selected"} don't

  %span have a policy.
  %br

  %input.button{:tabindex => "-1", :type => "submit", :value => "Get a quote"}
  %span.button-prev.alt-button{:tabindex => "-1"} Go back
