%label I'm a
=select_tag "age", options_for_select((21..55).step(1)), :tabindex => "1"

%label year old
%select{:tabindex => "1", :name => "gender"}
  %option{:value => "1"} man
  %option{:value => "2"} woman
%br

%label I live in
= select_tag :state, options_for_select(us_states)

%label
  %span.fake-period .
  I
%select{:tabindex => "1", :name => "tobacco-use"}
  %option{:value => "1"} don't
  %option{:value => "2"} do

%label use tobacco.

%br
%label Deliver my quote using

%select{:tabindex => "1", :name => "contact-method", :onChange => "ContactMethod(this.selectedIndex);"}
  %option{:value => "1"} email
  %option{:value => "2"} text
  %option{:value => "3"} voice

%br
%input.contact-type.email{ :placeholder => "email@yours.com", :tabindex => "1", :type => "text"}/
%input.contact-type.telephone.hidden{ :placeholder => "(202) 222-2222", :tabindex => "1", :type => "tel"}/
%br

%input.button.next{:tabindex => "1", :type => "submit", :value => "Next"}/

-# %span or
-# %span.button-next{:tabindex => "1"} Detailed Quote
