=label_tag "age", "I'm a"
=select_tag "age", options_for_select(21..55, 26), :tabindex => "1"

%span year old
%select{:tabindex => "1", :name => "gender"}
  %option{:value => "1"} man
  %option{:value => "2"} woman
%br

=label_tag "state", "I live in"
=select_tag :state, options_for_select(us_states, "VA")
%span.fake-period .

%span.input-sentance
  %span
    I
  %select{:tabindex => "1", :name => "tobacco-use"}
    %option{:value => "1"} don't
    %option{:value => "2"} do
  =label_tag "tobacco-use", "use tobacco."


%span.input-sentance
  =label_tag "contact-method", "Contact me using"
  = field_set_tag do
    =radio_button_tag 'contact-method', 'email', true
    =label_tag 'contact-method_email', 'email'
    =radio_button_tag 'contact-method', 'text'
    =label_tag 'contact-method_text', 'text'
    =radio_button_tag 'contact-method', 'voice'
    =label_tag 'contact-method_voice', 'voice'

-##
  %select{:tabindex => "1", :name => "contact-method", :onChange => "ContactMethod(this.selectedIndex);"}
    %option{:value => "1"} email
    %option{:value => "2"} text
    %option{:value => "3"} voice

%input.contact-type.email{ :placeholder => "email@yours.com", :tabindex => "1", :type => "text", :name => "email"}
%input.contact-type.telephone.hidden{ :placeholder => "(202) 222-2222", :tabindex => "1", :type => "tel", :name => "telephone"}

%input.button{:tabindex => "1", :type => "submit", :value => "Start Now"}/

%span.button-next.alt-button{:tabindex => "1"} Keep Going
