.quote-wrapper
  %h4 Start protecting your legacy
  %p.second-form-message Providing us with more info helps us get you a more accurate quote
  %form
    .quick-form
      =render 'quick_form'
    .detailed-form
      =render 'detailed_form'
