.quote-wrapper
  %h4 Start protecting your legacy
  %p.second-form-message Provide us with some more info and we'll get back to you shortly with quote
  %form
    .quick-form
      =render 'quick_form'
    .detailed-form
      =render 'detailed_form'
