.sidebar
  %ul
    %li
      =link_to('get a quote', root_path)
    - if current_page?(about_path)
      %li
        =link_to('FAQs page', faqs_path)
    - else
      %li
        =link_to('About page', about_path)
    %li call us! 571 351 7567
    %li email info@moka.life
