.content-wrapper
  %h3 About moka
  .page
    %dl
      %dt Why we started moka
      %dd
        %p We believe that life insurance is the most important part of a good financial plan. Whether you have a policy or not can make the difference between poverty and wealth for generations.
        %p Our goal is to make it simple to get something so vitally important. We want to bring an entirely new perspective to buying life insurance. Our focus in on simplicity and transparency. We don’t believe in complicated products, aggressive sales people or confusing terminology.

      %dt Who we are
      %dd
        %p Our team consists of experienced computer programmers, developers, designers and life insurance professionals. The only goal is to make buying life insurance easier, quicker and more understandable. We use a combination of technology and design to help you get the protection that you need and making it quick and easy.
        %p We are currently licensed in Virginia and Maryland with more states to come soon.
    =render 'sidebar'

=render 'shared/forms'
