.content-wrapper
  %h3 Frequently Asked Questions
  .page
    %dl
      %dt Why do I need life insurance at all?
      %dd
        %p Life insurance is meant to replace lost income if a breadwinner dies.  If you have anyone who depends on you you need life insurance.
        %p Think about your expenses and how they would get paid if you or your spouse weren’t around.  It adds up very quickly.

      %dt How much coverage should I get?
      %dd In general we recommend at least $250,000 of coverage.  A good gauge is 10-20 times your income.

      %dt Why term insurance is better than permanent?
      %dd Term insurance provides the most coverage for the money.  It’s the way families can get the amount of coverage they need for a very reasonable price.

      %dt Does my spouse need a policy if I have one?
      %dd
        %p Most of the families across the country consist of both spouses working.  Life insurance is meant to replace lost income from a breadwinner.
        %p Our recommendation is that both spouses have identical coverage.  Keep in mind that life insurance is usually cheaper for women.

      %dt What if I have a policy at work?
      %dd Most employed-based policies are at most 2 times your salary and do not transfer if you leave your current job.
    =render '/home/sidebar'

=#render '/shared/form_1'
