.img-bg{:class => "bgd-#{rand(1..15)}"}

%h2 The coverage you need. Made simple

.content
  .quote-wrapper#quote
    %h4 Start protecting your legacy
    %p.second-form-message Provide us with some more info and we'll get back to you shortly with a personalized quote

    .forms-wrapper
      =render 'form_1'
      =render 'form_2'

  .resource-list
    %ul.our-process
      %li
        %h4 Our Process
      %li complete the form to get a quote
      %li Policy is delivered via email
      %li Up to $1,000,000 in coverage
      %li No doctor needed
      %li Coverage in hours not weeks
    %ul.info
      %li
        %h4 Life Insurance Info
      %li
        =link_to 'View FAQs', faqs_path, :class => 'alt-button'
      %li
        =link_to 'About moka', about_path, :class => 'alt-button'
