.img-bg{:class => "bgd-#{rand(1..15)}"}

%h2 Welcome
%h3 What can we help you with?

.content
  %ul.main-menu
    %li
      =link_to 'Get me a quote', quote_path
    %li Get me information
    %li Chat with an agent
    %li Get me answers







  .resource-list.hidden
    %ul.our-process
      %li
        %h4 Our Process
      %li complete the form to get a quote
      %li Policy is delivered via email
      %li Up to $1,000,000 in coverage
      %li No doctor needed
      %li Coverage in hours not weeks
    %ul.info
      %li
        %h4 Life Insurance Info
      %li
        =link_to 'View FAQs', faqs_path, :class => 'alt-button'
      %li
        =link_to 'About moka', about_path, :class => 'alt-button'

- logger.debug "custoemr id is:" + session[:current_customer_id].to_s
