.img-bg

%h2 The coverage you need. Made simple

.content
  =render 'quote_form'

  %ul.resource-list
    %li
      %h4 Life Insurance Answers
    %li
      =link_to 'Chat with a live agent', '#', :class => 'strikethrough'
    %li
      =link_to 'Why life insurance at all?', '#', :class => 'strikethrough'
    %li
      =link_to 'FAQs', home_faqs_path
