.img-bg{:class => "bgd-#{rand(1..15)}"}

%h2 The coverage you need. Made simple

.content
  =render 'quote_form'

  %ul.resource-list
    %li
      %h4 Life Insurance Answers
    %li
      =link_to 'View FAQs', faqs_path, :class => 'alt-button'
