// Standard button styes START //////////////////////////////
.empty {height:-10px}
%button {
  height: 34px;
  background-color: rgba(0,201,0,0.7);
  display: inline-block;
  //width: 120px;
  padding: 0 14px;
  border-radius: 3px;
  text-transform: capitalize;
  font-size: .9em;
  font-weight: bold;
  border: none;
  color: #ffffff;
  font-style: normal;
  cursor: pointer;
  margin-top: 16px;
  padding:initial;
  text-align: center;
  margin-right: 8px;
  transition: background-color .2s ease-in;
  &:hover {
    background-color: rgba(0,201,0,1);
  }
  &:active {
    background: rgba(0,201,0,.5);
  }
  &:focus {
    background: rgba(0,201,0,.8);
    outline: none;
  //  border: 3px solid rgba(36,145,205, 1)
  }
}
// standard button styes END //////////////////////////////
