body[data-action="faqs"] {
  .faqs {
    margin: 24px auto;
    padding:0 24px;
    max-width:714px;
    dt {
      font-weight: bold;
      font-size: 1em;
    }
    dd {
      margin-bottom:1.5em;
      color: rgba(255,255,255,.7)
    }
  }
  .quote-wrapper {
    margin:36px auto;
    max-width:714px;
    width:auto;
  }
  .input-sentance {
    display:block;
  }
}
