@import 'placeholders.scss';

// Top level styes START //////////////////////////////
* {
  box-sizing: border-box;
  &:focus {
    outline-color: rgba(152,187,127,.8);
  }
}
body {
  font-family: -apple-system, Helvetica, Arial, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
  line-height: 1.7;
  max-width: 1280px;
  margin: auto;
  position:relative;
}
h2 {
  text-align: center;
  color:#b3daee;
  font-size: 24px;
  font-family: georgia;
  margin: 48px 0;
  line-height: 1;
}
h4 {
  font-size: 30px;
  font-family: georgia;
  line-height: 1;
}
// Top level styes END //////////////////////////////

// Global classes styes END //////////////////////////////
.strikethrough {
  text-decoration: line-through;
}
.button {
  @extend %button
}

.content {
  max-width: 780px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  @media (max-width: 727px) {
    flex-wrap: wrap;
  }
  > * {
    padding:40px 30px;
  }
}
.resource-list {
  min-width:240px;
  h4 {
    border-bottom:1px solid #2491cd;
    padding-bottom: 6px;
    margin-bottom: 4px;
  }
  li {

    &:nth-child(n+2) {
      padding-left: 1rem;
      text-indent: -.7rem;
      &:before {
        content: "• ";
        color: #2491cd;
      }
    }
  }
}
