@import 'placeholders.scss';

// Top level styes START //////////////////////////////
body, html {
  height:100%;
}
* {
  box-sizing: border-box;
  &:focus {
    outline-color: #2491cd;
  }
}
body {
  font-family: 'Soleto', -apple-system, Helvetica, Arial, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
  line-height: 1.7;
  max-width: 1280px;
  margin: auto;
  position:relative;
  color:#fff;
  background-color:#333;
}
.img-bg {
  opacity:0;
  height:100%;
  width:100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index:-1;
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,0,0.3) 0%,rgba(0,0,0,.5) 75%,rgba(0,0,0,.7) 100%), asset_url('legos.jpg');
  background-position: center;
  transition: opacity 3.5s;
}
input {
  font-family: 'Soleto', -apple-system, Helvetica, Arial, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
a {
  color:#fff;
}
h2, h4 {
  font-family: 'freight';
}
h2 {
  text-align: center;
  color:rgba(177,228,255,.7);
  font-size: 28px;
  margin: 48px auto;
  line-height: 1;
  @media (max-width: 460px) {
    max-width: 330px;
  }
}
h4 {
  font-size: 30px;
  line-height: 1;
}
// Top level styes END //////////////////////////////

// Global classes styes END //////////////////////////////
.strikethrough {
  text-decoration: line-through;
}
.hidden {
  display: none;
}
.opaque {
  opacity: 1;
}
.button {
  @extend %button
}
.fake-period {
  margin-left: -4px;
}

.content {
  margin: auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;


  > * {
    padding:45px 30px;
  }
}
.resource-list {
  min-width:240px;
  h4 {
    border-bottom:1px solid #2491cd;
    padding-bottom: 6px;
    margin-bottom: 4px;
  }
  li {

    &:nth-child(n+2) {
      padding-left: 1rem;
      text-indent: -.7rem;
      &:before {
        content: "• ";
        color: #2491cd;
      }
    }
  }
}
