


.content {
  margin: auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;


  > * {
    padding:45px 30px;
  }
}
.our-process {
  margin: 0 0 16px 0;
  h4 {
    padding-bottom: 6px;
    margin-bottom: 4px;
  }
  li {
    padding-left: 1em;
    text-indent: -.7em;
    &:nth-child(n+2) {
      &:before {
        content: "• ";
        color: #3c8ccb;
      }
    }
  }
}
.info {
  min-width:240px;
  max-width: 280px;
  h4 {
    //border-bottom:1px solid #2491cd;
    padding-bottom: 6px;
    margin-bottom: 4px;
  }
  li {
    &:nth-child(n+2) {
      display: inline-block;
    }
  }
}
