@import '_placeholders.scss';



.quote-wrapper {
  background: rgba(5,47,68,.6);
  position: relative;
  //margin: auto;
  @media (min-width: 460px) {
    min-width: 420px;
    max-width: 440px;
    margin: 0px 30px 0px 30px;

  }
  &:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 1px solid #2491cd;
  }
  h4 {
    padding-bottom: 18px; // this padding number is keeping the form from jumping when you switch form modes
  }
  .second-form-message {
      opacity: .6;
      font-style: italic;
      display: none;
      width:85%;

  }
  form {
    height:190px;
    transition: height .5s ease-in;
    overflow: hidden;
    > div {
      margin-bottom: 120px;
    }
  }
  .quick-form {
    transition: margin .4s ease-in-out;
  }

  .input-sentance {

    @media (max-width: 420px) {
      display:block;
    }
  }
  .alt-button {
    height: 34px;
    background: rgba(120,120,120,.4);
    display: inline-block;
    width: 120px;
    border-radius: 3px;
    text-transform: capitalize;
    text-align: center;
    line-height: 2.1;
    color:rgba(255,255,255,.6);
    &:hover {
      background: rgba(120,120,120,.8);
      color:rgba(255,255,255,.99);
    }
    &:active {
      background: rgb(120,120,120);
    }
    &:focus {
      outline-color: rgb(120,120,120)
    }

  }
  fieldset {
    display: inline-block;
    margin-left: 6px;
  }
  label {
    font-size: 16px;
    font-weight: 300;
    line-height: 2.5;
    .display-ampersand {
      color:rgba(0,0,0,.3);
    }
  }
  select, .customSelect {
    cursor: text;
  }
  input, select {
    //padding:10px;
  }

  input {
    border:none;
    background:transparent;
    border-bottom:1px solid rgba(255,255,255,.6);
    //font-size: 1em;
    text-align: center;
    width: 140px;
    color: rgba(255,255,255,.7);
    font-size: .9rem;

    &.button {
      @extend %button
    }
    &::placeholder {
      color: rgba(255,255,255,.6);
      font-size: 1rem;
    }
    &.contact-type {
      width:100%;
      padding:12px;
      //color: #074f73;
      border:none;
      border:1px solid rgba(215,242,255,.6);
      border-radius: 4px;
      margin: 6px 0;
      font-size: .9rem;
      &::placeholder {
        //color: #074f73;
        font-style: normal;
      }
    }
    &[type="radio"] {
      display:none;
      & + label {
        opacity:.6;
        display:inline-block;
        width:20px;
        height:20px;
        margin:-1px 4px 0 0;
        vertical-align:middle;
        cursor:pointer;
        background:asset_url('star-empty.png') no-repeat center;
        background-size: contain;
        text-indent: -3000em;
        overflow: hidden;
      }
      &:checked + label {
        background:asset_url('star-selected.png') no-repeat center;
        background-size: contain;
        opacity:1;
      }
    }
  }
}
