@import '_placeholders.scss';


.quote-wrapper {
  background: rgba(5,47,68,.6);
  margin: 0px 30px 30px 30px;
  min-width: 420px;
  max-width: 440px;
  position: relative;
  &:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 1px solid #2491cd;
  }
  h4 {
    margin-bottom: 1rem;
  }
  form {
    transition: height .7s;
    overflow: hidden;
    > div {
      margin-bottom: 120px;
    }
  }
  .quick-form {
    transition: margin .7s;
  }
  label {
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
    .display-ampersand {
      color:rgba(0,0,0,.3);
    }
  }
  select {

  }
  input, select {
    padding:10px;
  }
  input {
    border:none;
    background:transparent;
    border-bottom:1px solid rgba(255,255,255,1);
    //font-size: 1em;
    text-align: center;
    width: 70px;
    color: #2491cd;
    &.button {
      @extend %button
    }
    &::placeholder {
      color: rgba(255,255,255,.6);
      font-style: italic;
    }
    &.email {
      width:100%;
      background:rgba(215,242,255,.8);
      padding:12px;
      color: #074f73;
      border:none;
      border-radius: 4px;
      margin: 6px 0;
      &::placeholder {
        color: #074f73;
        font-size: .9rem;
      }
    }
  }
}
