!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Moka
    = csrf_meta_tags
    :javascript
      (function(d) {
        var config = {
          kitId: 'kkb6wdo',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

    / Google analytics Code
    :javascript
      (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,"script","https://www.google-analytics.com/analytics.js","ga");

      ga("create", "UA-102041854-1", "auto");
      ga("send", "pageview");

    / Facebook Pixel Code
    :javascript
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '151609688731241'); // Insert your pixel ID here.
      fbq('track', 'PageView');
    %noscript
      %img{:height => "1", :src => "https://www.facebook.com/tr?id=151609688731241&ev=PageView&noscript=1", :style => "display:none", :width => "1"}/
    / DO NOT MODIFY
    / End Facebook Pixel Code
    :javascript
      fbq(‘track’, ‘Lead’, {
      value: 10.00,
      currency: ‘USD’
      });
      fbq(‘track’, ‘CompleteRegistration’, {
      value: 25.00,
      currency: ‘USD’
      });
  %body{:data => {:controller => controller.controller_path, :action => controller.action_name }}
    =render '/shared/header'
    = yield
